<div class="modal fade lookup-modal" tabindex="-1" role="dialog" aria-labelledby="wordDefinitionLookupModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Word Definiton Lookup</h4>
        </div>
        <div class="modal-body">
            <p>
              {{> lookup-word}}
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>