<h1>
  {{error.message}}
    <small>
        <a href="/" class="btn btn-link glyphicon glyphicon-home"></a>
    </small>
</h1>
<h2>{{error.status}}</h2>
{{#if error.stack}}
  <pre>
      {{{error.stack}}}
  </pre>
{{/if}}