<h1>
    The SOAP Web Service for this amazing application is delivered by
    <small>
        <button class="btn btn-link glyphicon glyphicon-search" data-toggle="modal" data-target=".lookup-modal"></button>
        <a href="/" class="btn btn-link glyphicon glyphicon-home"></a>
    </small>
</h1>
{{> lookup-word-modal}}

<p>
  {{{info}}}
</p>